* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    flex: 1;
  }
}
